<div class="flex items-center h-screen">

  <div class="h-full w-[20%] border border-r-gray-500">
    <nav class="py-10 px-4">
      <ul class="space-y-4">
        <li>
          <a routerLink="/admin/dashboard" routerLinkActive="font-bold text-blue-600">Dashboard</a>
        </li>
        <li>
          <a routerLink="/admin/products" routerLinkActive="font-bold text-blue-600">Products</a>
        </li>
        <li>
          <a routerLink="/admin/customers" routerLinkActive="font-bold text-blue-600">Customers</a>
        </li>
        <li>
          <a routerLink="/admin/orders" routerLinkActive="font-bold text-blue-600">Orders</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="w-[80%] p-6">
    <router-outlet></router-outlet>
  </div>